In [1]:
import pandas as pd

title_principals = pd.read_csv("https://datasets.imdbws.com/title.principals.tsv.gz", sep = "\t")

title_principals.rename(columns = {'tconst':'title_id'}, inplace = True)

In [2]:
title_principals.head()

    title_id  ordering  ...                      job characters
0  tt0000001         1  ...                       \N   ["Self"]
1  tt0000001         2  ...                       \N         \N
2  tt0000001         3  ...  director of photography         \N
3  tt0000002         1  ...                       \N         \N
4  tt0000002         2  ...                       \N         \N

[5 rows x 6 columns]

In [3]:
actor_actress = title_principals[(title_principals['category'] == 'actor') | (title_principals['category'] == 'actress')]
#print(only_actor.head())
# actor_actress
#will take 'actor' only
# final_actor = title_principals[only_actor]
# print(final_actor.head(),'\n')

In [4]:
actor_actress.head()

           title_id  ...                                      characters
11        tt0000005  ...                                  ["Blacksmith"]
12        tt0000005  ...                                   ["Assistant"]
16        tt0000007  ...                                              \N
17        tt0000007  ...                                              \N
21        tt0000008  ...                                ["Sneezing Man"]
...             ...  ...                                             ...
47678556  tt9916856  ...                                       ["Kathi"]
47678561  tt9916880  ...  ["Rude Ralph","Mischievous Mike","Jolly Josh"]
47678562  tt9916880  ...                              ["Moody Margaret"]
47678563  tt9916880  ...             ["Dad","Aerobic Al","Nasty Nicola"]
47678564  tt9916880  ...                                ["Horrid Henry"]

[18882052 rows x 6 columns]

In [11]:
#Removing duplications from title_id
actor_actress.drop_duplicates(subset = ['title_id'], inplace = True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
actor_actress.drop(labels = ['ordering', 'job', 'characters'], axis = 1, inplace = True)

In [14]:
actor_actress.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4726017 entries, 11 to 47678561
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   title_id  object
 1   nconst    object
 2   category  object
dtypes: object(3)
memory usage: 144.2+ MB

In [ ]:
def title_id(i):
  # print(i)
  # for i in total_actor_actress['title_id']:
  for j in series['series_id']: 
    if i == j:
      # print(i==j)
      return 'series'
      # elif i != id:
      #   return 'series'
    #else:
  return 'movies'

actor_actress['movies/TVseries'] = actor_actress['title_id'].apply(lambda i: title_id(i))

In [ ]:
actor_actress.head()

# ACTOR/ACTRESS

In [ ]:
#import file from sharing folder https://drive.google.com/file/d/1v9NH6Y7n6yseAfMWq4b6nPNPTCJLD68Z/view?usp=sharing

import pandas as pd

actors = pd.read_csv(r'/content/drive/MyDrive/Projects/Project 2_CINEMA_Movies/actor_names_final.zip', sep = ',', usecols = ['name_id', 'primaryName', 'title_id', 'category'])

In [ ]:
actors.head()

     name_id       primaryName  ... startYear category
0  nm0443482    Charles Kayser  ...    1893.0    actor
1  nm0653042          John Ott  ...    1893.0    actor
2  nm0179163  James J. Corbett  ...    1894.0    actor
3  nm0183947    Peter Courtney  ...    1894.0    actor
4  nm0653028          Fred Ott  ...    1894.0    actor

[5 rows x 6 columns]

In [ ]:
#import file from sharing folder https://drive.google.com/file/d/1vlY2xjPBcnNyXFH5uZBeEzsGsPqSRErD/view?usp=sharing

actress = pd.read_csv(r'/content/drive/MyDrive/Projects/Project 2_CINEMA_Movies/actress_names_final.zip', sep = ',')

In [ ]:
actress.head()

     name_id      primaryName  ... startYear category
0  nm0063086  Blanche Bayliss  ...    1894.0  actress
1  nm3692829          Larella  ...    1895.0  actress
2  nm3692479           Ancion  ...    1895.0  actress
3  nm4007970   Alhambra Girls  ...    1896.0  actress
4  nm0194945   Jehanne d'Alcy  ...    1896.0  actress

[5 rows x 6 columns]

In [ ]:
#### Join the tables actors and actress in one called total_actor_actress

total_actor_actress = pd.concat([actors, actress])

In [ ]:
total_actor_actress

            name_id          primaryName  ... startYear category
0         nm0443482       Charles Kayser  ...    1893.0    actor
1         nm0653042             John Ott  ...    1893.0    actor
2         nm0179163     James J. Corbett  ...    1894.0    actor
3         nm0183947       Peter Courtney  ...    1894.0    actor
4         nm0653028             Fred Ott  ...    1894.0    actor
...             ...                  ...  ...       ...      ...
8136950   nm3394271       Leni Wesselman  ...    2015.0  actress
8136951  nm10538650        Anna Fitoussi  ...    2015.0  actress
8136952  nm10538647      Kathrin Knöpfle  ...    2015.0  actress
8136953   nm0254176  Sue Elliott-Nichols  ...    2014.0  actress
8136954  nm10535738         Eden Gamliel  ...    2014.0  actress

[18852309 rows x 6 columns]

# **MOVIES AND SERIES**

## **Movies**

In [ ]:
#import file https://drive.google.com/file/d/1c7SaKuybAtKKtWY35qK2Hil6WU3EiXT3/view?usp=sharing

import pandas as pd

movies = pd.read_csv(r'/content/drive/MyDrive/Projects/Project 2_CINEMA_Movies/not_in_series_films.zip', sep = ',', usecols = ['title_id', 'primaryTitle', 'genres'])

In [ ]:
movies

    title_id  ...                              genres
0  tt0000001  ...            ['Documentary', 'Short']
1  tt0000002  ...              ['Animation', 'Short']
2  tt0000003  ...  ['Animation', 'Comedy', 'Romance']
3  tt0000004  ...              ['Animation', 'Short']
4  tt0000005  ...                 ['Comedy', 'Short']
5  tt0000006  ...                           ['Short']
6  tt0000007  ...                  ['Short', 'Sport']
7  tt0000008  ...            ['Documentary', 'Short']
8  tt0000009  ...                ['Romance', 'Short']
9  tt0000010  ...            ['Documentary', 'Short']

[10 rows x 3 columns]

In [ ]:
# merge actor/actress with movies

movies_actors_actress = pd.merge(movies, total_actor_actress,
                                 how = 'right',
                                 left_on = 'title_id', 
                                 right_on = 'title_id',)

## **SERIES**

In [9]:
#import file from https://drive.google.com/file/d/1hbpE5LKRizcUyjVhJBgtOM_N9zRBHE13/view?usp=sharing

import pandas as pd

series = pd.read_csv(r'/content/drive/MyDrive/Projects/Project 2_CINEMA_Movies/series_cleaned.csv', sep = ',', usecols = ['series_id'])

# series.rename(columns = {'series_id':'title_id'}, inplace = True)

In [ ]:
# series.sort_values('series_id', inplace = True)
series

        series_id
0      tt12644110
1       tt0041038
2       tt0989125
3       tt0040051
4       tt0044243
...           ...
51870   tt9912232
51871   tt9914126
51872   tt9890068
51873   tt9913508
51874   tt9911946

[51875 rows x 1 columns]

In [ ]:
series_actors_actress = pd.merge(series, total_actor_actress,
                                 how = 'right',
                                 left_on = 'series_id',
                                 right_on = 'title_id')

In [ ]:
series_actors_actress

         series_id     name_id  ... startYear category
0              NaN   nm0443482  ...    1893.0    actor
1              NaN   nm0653042  ...    1893.0    actor
2              NaN   nm0179163  ...    1894.0    actor
3              NaN   nm0183947  ...    1894.0    actor
4              NaN   nm0653028  ...    1894.0    actor
...            ...         ...  ...       ...      ...
18852304       NaN  nm10781821  ...    2019.0  actress
18852305       NaN  nm10781827  ...    2019.0  actress
18852306       NaN  nm10781825  ...    2019.0  actress
18852307       NaN  nm10781826  ...    2019.0  actress
18852308       NaN  nm10781824  ...    2019.0  actress

[18852309 rows x 7 columns]

In [ ]:
series_actors_actress_small = series_actors_actress[['series_id', 'name_id', 'primaryName', 'category']]

In [ ]:
series_actors_actress_small.info(verbose = True, null_counts = True)